.footer{
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  line-height: 1.5rem;
  margin-top: .833333rem;
}
.f1{
  width: 100%;
  height: 4.166667rem;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.f2{
  width: 100%;
  height: 4.166667rem;
  display: flex;
  flex-flow: row wrap;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.footer_p{
  width: 100%;
  text-align: center;
}